/* Extra-29/08 */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
/* Background profile */

.header {
    background-image: url(images/books.jpg);
    background-size: cover;
    height: 150px;
}
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    overflow:visible;
    background: #caaeee;
    
}
/* Login & Signup */

#body2 {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url(images/b.jpg);
    max-width: max-content;
}
.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(228, 223, 223);
}

.login {
    text-align: center;
    color: black;
}

.info {
    text-align: center;
    color:white;
    text-shadow: #0e0f55;
}
@media screen and (max-width: 300px) {
    .center {
        position: absolute;
        background: #c7d4da;
        border-radius: 10px;
        bottom: 80%;
        transform: translateX(-50%);
    }
}


@media screen and (min-width: 300px) {
    .center {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        background: #c7d4da;
        border-radius: 10px;
  
}
}


.center form{
    padding: 0 10px;
    box-sizing: border-box;
}

form .txt-field{
    position: relative;
    border-bottom: 2px solid rgb(241, 235, 235);
    margin: 20px 0;
   
   
}

.txt-field input{
    width: 40%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background:none;
    outline: none;
}
.txt-field label{
    position: absolute;
    top:50%;
    left:5px;
    color: rgba(9, 9, 92, 0.911);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
.txt-f label{
    position: absolute;
    top:72%;
    left: 2px;
    color: rgb(0, 0, 0);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt-f span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #0c0c13;
    transition: .5s;
}
.txt-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #3d7e92;
    transition: .5s;
} 

.txt-field input:focus ~label,
.txt-field input:valid ~label {
    top: -5px;
    color: black;
}

.txt-field input:focus ~span::before,
.txt-field input:valid ~span::before {
    width:100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}
.pass:hover{
    text-decoration: underline;
    color: white;
}

input[type="submit"] {
    margin-top: 20px;
    width:100%;
    height: 50px;
    border: 1px solid;
    background: #05056b;
    border:#010116 ;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


input[type="submit"]:hover {
    border-color: #efeff0;
    transition: .5s;

}
#reset {
    width:40%;
    height: 30px;
    border: 1px solid;
    background: #a0a0af;
    color: #021111;
    font-weight: 700;
    cursor: pointer;
    outline: none;transform: translateY(10%)
    
}

.signup_link {
    margin:30px 0;
    text-align: center;
    font-size: 16px;
    color:#e9e8f0;

}
.signup_link a {
    color: #f1fcfc;
    text-decoration: none;
}


.signup_link a:hover {
   text-decoration: underline;
}

/* Navbar */
 .main-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

  .main-navbar {
    text-transform: uppercase;
    
    
}
 .nav_logo{
color: #ebdfe8;
text-decoration: none;
right: 15px;
font-size: 40px;
padding-right: 50px;
text-shadow: 2px 2px #6636633f;
}
.main-navbar>li>a  {
    align-items: center;
    padding: 10px 50px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #66548aec;
    
}

.main-navbar>li:last-child {
    border:solid 3px rgb(43, 7, 31);
    border-radius: 2px;
    transition: 1s;
  }
  .main-navbar>li:last-child:hover {
    background-color: #9e869b;
  }
/* media query */
@media screen and (min-width: 625px) {

.main-navbar>li { display: inline-block;
    border:none;
}

.nav_logo{display: inline-block;
    border:none;}

}

/* General setting */
h1{
    text-align: center;
    text-shadow: #524ea5f8;
}
h1, h2{
    color: black;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
   
}

h3{
    color:black;
    font-weight: bold;
}

.container {
    padding: 2px;
    text-align: justify;
}

p {
font-size: 24px;
text-align: justify;
left: 10px;
color: #010116;
margin-bottom: 15px;
margin-top: 15px;
}

.row{
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    width: fit-content;
    box-sizing: border-box;
    width: 100%;
  
}

.project-details  {
    position:relative;
    color: black;
    text-align: center;
    padding: 16px;
    bottom: 10px;
    display: inherit;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border-spacing: 5px;
    border: blueviolet dashed 4px;
}
.project-details:hover{
    border: transparent;
    box-shadow: #caaeee;
}
.img {
    width: fit-content;
    max-width: 100%;
    height: auto;
    left: 250px;
    }

.btn-outline{
    position: absolute;
    color:#1d0b4e;
    text-decoration:underline;
}
.btn-outline:hover{
    text-shadow: #010116;
    transition: 1s;
}
.project-title {
    font-size: 32px;
    color: #da03bd;
    font-style:bold;
}

.project-paragraph {
    text-align: justify;
    color: #1d0b4e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    font-style: normal;
    text-indent: 20px;

}

.login-p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d5d5e6;
    text-indent: 20px;
}

footer{
    text-align: center;
    font-size: medium;
    font-weight: 600;
}
.quote {
    border: #df92dd solid ;
    background-color: #c7d4da;
    width: fit-content;
}
.quote-p {
    color: #1d0b4e;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: italic;
    margin-bottom: 15px;
}

.row{
display:flex;
flex-wrap:wrap;
}
.row> * {
    width:100%;
    padding:1rem;
}

@media (min-width:625px) {
    .row > *:nth-child(1) {
        width:calc(100% / 3 * 2);
    }
    .row > *:nth-child(2) {
        width:calc(100% / 3);
    
    }
}
.to-do> ul {
    list-style:none;
}

.to-do-list {
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 30px;
    background:#cf88da;
    border: #1e0522 solid 2px;
    box-shadow: #df92dd;
    width:fit-content ;
}
iframe {
    min-width: fit-content;
    max-width: 100%;
    height: auto;
}

.fa-instagram {
    background-color: rgb(117, 19, 117);
    color: #b3aec2;
    margin-left: 35%;
}
.fa-facebook {
    background-color: rgb(32, 47, 187);
    color: #b3aec2;
}
.fa-instagram, .fa-facebook {
width: 60px;
height: 60px;
padding: 5px;
position: sticky;
top: 20%;
right: 0;
}