/* Extra-29/08 */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
/* Background profile */

.header {
    background-image: url(images/books.jpg);
    background-size: cover;
    height: 150px;
}
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    overflow:visible;
    background: #caaeee;
    
}
/* Login & Signup */

#body2 {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url(images/b.jpg);
    max-width: max-content;
}
.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(228, 223, 223);
}
.msj h1{
    text-align: center;
    color: white;
    position: absolute;
    left:15%;
    right: 15%;
    font-size: 35px;
    margin-bottom: 25px;
}


@media screen and (max-width: 300px) {
    .center {
        position: absolute;
        background: #c7d4da;
        border-radius: 10px;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
   
    
    
}

@media screen and (min-width: 301px) {
    .center {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        background: #c7d4da;
        border-radius: 10px;
        
    }
}
    

.center form{
    padding: 0 10px;
    box-sizing: border-box;
}

form .txt-field{
    position: relative;
    border-bottom: 2px solid rgb(241, 235, 235);
    margin: 20px 0;
   
   
}

.txt-field input{
    width: 40%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background:none;
    outline: none;
}
.txt-field label{
    position: absolute;
    top:50%;
    left:5px;
    color: rgba(9, 9, 92, 0.911);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}

.txt-f span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #0c0c13;
    transition: .5s;
}
.txt-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #3d7e92;
    transition: .5s;
} 

.txt-field input:focus ~label,
.txt-field input:valid ~label {
    top: -5px;
    color: black;
}

.txt-field input:focus ~span::before,
.txt-field input:valid ~span::before {
    width:100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}
.pass:hover{
    text-decoration: underline;
    color: white;
}

input[type="submit"] {
    margin-top: 20px;
    width:100%;
    height: 50px;
    border: 1px solid;
    background: #05056b;
    border:#010116 ;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


input[type="submit"]:hover {
    border-color: #efeff0;
    transition: .5s;

}

/* Sign up button */
.signup_link {
    margin:30px 0;
    text-align: center;
    font-size: 16px;
    color:#120d35;

}
.signup_link a {
    color: #410f92;
    text-decoration: none;
}


.signup_link a:hover {
   text-decoration: underline;
}

/* Navbar */
 .main-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

  .main-navbar {
    text-transform: uppercase;
    
    
}
 .nav_logo{
color: #ebdfe8;
text-decoration: none;
right: 15px;
font-size: 40px;
padding-right: 50px;
text-shadow: 2px 2px #6636633f;
}
.main-navbar>li>a  {
    align-items: center;
    padding: 10px 50px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #66548aec;
    
}

.main-navbar>li:last-child {
    border:solid 3px rgb(43, 7, 31);
    border-radius: 2px;
    transition: 1s;
  }
  .main-navbar>li:last-child:hover {
    background-color: #9e869b;
  }
/* media query */
@media screen and (min-width: 625px) {

.main-navbar>li { display: inline-block;
    border:none;
}

.nav_logo{display: inline-block;
    border:none;}

}

/* General setting */
h1{
    text-align: center;
    text-shadow: #524ea5f8;
}
h1 {
    color: black;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
   
}
h2{
    color: black;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 10px;
}

h3{
    color:black;
    font-weight: bold;
}

.container {
    padding: 2px;
    text-align: justify;
}

p {
font-size: 24px;
text-align: justify;
left: 10px;
color: #010116;
margin-bottom: 15px;
margin-top: 15px;
}

.row{
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    width: fit-content;
    box-sizing: border-box;
    width: 100%;
  
}

.project-details  {
    position:relative;
    color: black;
    text-align: center;
    bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border-spacing: 5px;
    border:solid 3px plum;
    margin-bottom:15px;

}
.project-details h3{
margin:5px;

}
.project-paragraph{
    text-shadow: 1px 1px 2px plum;
}

.img {
    width: fit-content;
    max-width: 100%;
    height: auto;
    left: 250px;
    }

.btn-outline{
    position: absolute;
    color:#1d0b4e;
    text-decoration:underline;
}
.btn-outline:hover{
    text-shadow: #010116;
    transition: 1s;
}
.project-title {
    font-size: 32px;
    color: #da03bd;
    font-style:bold;
}

.project-paragraph {
    text-align: justify;
    color: #1d0b4e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    font-style: normal;
    text-indent: 20px;

}

.login-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d5d5e6;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 30%;

}

footer{
    text-align: center;
    font-size: medium;
    font-weight: 600;
}
.quote {
    border: #df92dd solid ;
    background-color: #c7d4da;
    width: auto;
}
.quote-p {
    color: #1d0b4e;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: italic;
    margin-bottom: 15px;
    width: auto;
}

.row{
display:flex;
flex-wrap:wrap;
}
.row> * {
    width:100%;
    padding:1rem;
}

@media (min-width:625px) {
    .row > *:nth-child(1) {
        width:calc(100% / 3 * 2);
    }
    .row > *:nth-child(2) {
        width:calc(100% / 3);
    
    }
}

.to-do> ul {
    list-style:none;
}

.to-do-list {
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 30px;
    background:#b3aec2;
    border: 2px solid #691E06;
    min-width: fit-content;
}
.little-box{
    background:#D4C7BA;
    height: 30px;
    background-position: 15%;
    margin-bottom: 10px;
    border:solid 2px #691E06;
    font-size: 15px;
    }

.to-do-list  li:before {
        content: '\1F4D6';
      }
    
 /* to do */
 
iframe {
    min-width: fit-content;
    max-width: 100%;
    height: 250px;
    max-height: auto;

}

.fa-instagram {
    background-color: rgb(117, 19, 117);
    color: #b3aec2;
    margin: left 0;;
}
.fa-facebook {
    background-color: rgb(32, 47, 187);
    color: #b3aec2;
}
.fa-instagram, .fa-facebook {
width: 60px;
height: 60px;
padding: 5px;
position: sticky;
top: 20%;
right: 0;
}
/* Calendar view-16.11 */
.dycalendar {
    height:100%;
    width:100%;
    background:#d4bdd4;
    border-radius:20px;
    padding-bottom:25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
     rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, 
     rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    
    .dycalendar table{
    margin:30px 20px 10px 10px;        
    }
    
    .dycalendar table tr:first-child td{
     color:rgb(107, 51, 100);
    }
    
    .dycalendar table td{
    height:30px;   
    width:35px;
    border-radius:5px;    
    font-size:20px;
    cursor:pointer;
    position:relative;
    top:10px;
    font-family: 'poppins', sans-serif;
    }
    
    
    .dycalendar table td:hover{
    background:rgba(192,192,192,0.3);
    transition:all .2s ease-out;
    }
    
    table{
        border-spacing: 15px;
    }
    .dycalendar-month-container{font-size: 30px;}
    .dycalendar-prev-next-btn.next-btn, .prev-btn{
        padding: 10px 25px;
        background:none;
        color:black;
        border-radius:10px;
        margin-top:-10px;
        margin-left:10px;
    }
    
    .dycalendar .next-btn{
     margin-right:10px;        
    }
    
    .dycalendar-prev-next-btn.next-btn:hover{
        background:#F5F5F5;
    }
    .dycalendar-prev-next-btn.prev-btn:hover{
        background:#F5F5F5;
    }
    
    .dycalendar .dycalendar-today-date{
    background:none;      
    background:#df92dd;
    border-radius:10px;
    color:white;
    }
    
    .dycalendar .dycalendar-today-date:hover{
    background:#df92d5;
    }
    
    .dycalendar-header{
    position:relative;
    top:25px;
    font-family: 'poppins', sans-serif;
    }
    
    .toggle-btn{
    padding:15px;   
    border-radius:30px;
    background:white;
    position:relative;
    top:-80px;
    left:440px;
    width:80px;
    cursor:pointer;
    border:2px solid grey;
    }
    
    .circle{
    height:50px;  
    width:50px;
    background:white;
    border-radius:100%;
    position:absolute;
    top:-10px;
    left:-5px;
    transition:all .2s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid grey;
    }
    
    .circle:before{
    content:'\f186';
    font-family:fontAwesome;
    font-size:30px;
    color:black;
    }